<%= form_for :vote do |form| %>
  <ul>
    <% @problem.proposals.each do |proposal|%>
      <li><%= form.radio_button :proposal_id, proposal.id%> <%= proposal.title %></li>
    <% end %>
  </ul>
    <%= form.submit "Vote" %>
<% end %>
